{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique{% endblock %}

{% block body %}
    <!-- Cards -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card h-100">
                    <img
                            src="{{ vich_uploader_asset(picture1, 'previewFile') }}"
                            class="card-img-top"
                            alt="{{ picture1.cardTitle }}"
                            title="{{ picture1.title }}"
                    />

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ picture1.cardTitle }}</h5>
                        <p class="card-text">
                            {{ picture1.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-100">
                    <img
                            src="{{ vich_uploader_asset(picture2, 'previewFile') }}"
                            class="card-img-top"
                            alt="{{ picture2.cardTitle }}"
                            title="{{ picture2.title }}"
                    />

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ picture2.cardTitle }}</h5>
                        <p class="card-text">
                            {{ picture2.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card h-100">
                    <img
                            src="{{ vich_uploader_asset(picture3, 'previewFile') }}"
                            class="card-img-top"
                            alt="{{ picture3.cardTitle }}"
                            title="{{ picture3.title }}"
                    >

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ picture3.cardTitle }}</h5>
                        <p class="card-text">
                            {{ picture3.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!-- Reservation button -->

    <div class="container-fluid">
        <div class="d-grid gap-2 col-4 mx-auto">
            <a class="btn btn-outline-dark reservation" role="button" href="/bookingform">
                Réserver
            </a>
        </div>
    </div>
    <br/>
{% endblock %}
